* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 auto;
    align-items: center;
}

p {
    font-size: 18px;
}

header {
    justify-content: space-between;
    width: 980px;
    height: 115px;
    align-items: center;
    margin: 0 auto;
}

.top {
    float: left;
}

h1 {
    font-size: 34px;
}

h1 > a {
    text-decoration: none;
    color: #000000;
    border: solid 1px black;
    text-align: center;
    padding: 0 40px;
}

.menu {
    display: flex;
    float: right;
}

.menu > a {
    text-decoration: none;
    color: #000000;
}

#works {
    margin-left: 30px;
}

img {
    margin: 0 auto;
    width: 100%;
}

.about > h2 {
    text-align: center;
    margin: 40px auto 0px auto;
}

h2 {
    font-size: 34px;
    margin: 10px auto 30px auto;
}

.main-first {
    width: 820px;
    height: 350px;
    margin: 50px auto 0px auto;
}

.main-first > img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-right: 10px;
}

.inner {
    float: right;
    margin-top: 40px;
    margin-right: 30px;
}

.inner > p {
    font-size: 24px;
    margin: 0 auto;
}

.works > h2 {
    font-size: 34px;
    text-align: center;
    margin: 0 auto;
}

.main-second {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto;
}

.item {
    width: 240px;
    height: 178px;
    margin: 20px 6px;
}

.item > p {
    margin: 10px auto 50px auto;
}

footer {
    text-align: center;
    margin-top: 150px;
}

/* スマホ用　*/
@media screen and (max-width: 767px) {

    html {
        width: 100%;
        align-items: center;
    }

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 960px;
    }

    main {
        width: 100%;
        height: auto;
    }

    .menu {
        padding-left: 0;
        padding-right: 10px;
    }

    .top {
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 21px;
    }

    #about {
        margin-left: 20px;
    }

    #works {
        margin-left: 15px;
    }

    .about > #About {
        margin-top: 20px;
    }

    .main-first {
        width: 296px;
        height: 203px;
        margin-top: 60px;
    }

    .main-first > img {
        align-items: center;
    }

    .about {
        width: 100%;
        align-items: center;
    }

    .inner {
        float: none;
        width: 100%;
    }

    .works > #Works {
        margin-top: 380px;
    }

    .main-second {
        width: 355px;
        height: 320px;
        margin: 0 auto;
    }

    .item {
        margin: 60px auto;
    }

    footer > p {
        margin-top: 630px;
        text-align: center;
    }
}
